## Imported packages here

In [4]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from tweepy import OAuthHandler
from tweepy import API
from tweepy import Cursor

## Initialised all token keys here in variables

In [6]:
consumer_key='JcKYdqtvb4jQvHuvZueqBGlOU'
consumer_secret='1NcufylSpc2sb83oQWv9qhRGWvYqTFs5ylSoKdPkiJqu07l5ch'
access_token='792341533638946817-shNZlMR3hjQiho72cZwdCb120bwleIR'
access_token_secret='DbKTIhxkymH43wiGV5WmabvPEOWwt9spraQlQnHKUg8j8'

### With the help of tweepy package, the code below is used to to access the twitter API by providing the varaible in which my consumer and access keys data is stored

In [7]:
auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
auth_api = API(auth)

### Got basic details of the MIDAS Labs' twitter account by user name

In [8]:
item = auth_api.get_user('midasIIITD')
print("name: " + item.name)
print("screen_name: " + item.screen_name)
print("description: " + item.description)
print("statuses_count: " + str(item.statuses_count))
print("friends_count: " + str(item.friends_count))
print("followers_count: " + str(item.followers_count))

name: MIDAS IIITD
screen_name: midasIIITD
description: MIDAS is a group of researchers at IIIT-Delhi who study, analyze, and build different multimedia systems for society leveraging multimodal information.
statuses_count: 296
friends_count: 39
followers_count: 174

### Got the entire timeline of the tweets here

In [9]:
tweets = auth_api.user_timeline(screen_name = 'midasIIITD')

### Got the list containing all the statuses of the tweets from the MIDAS twitter timeline

In [37]:
status_list = []
for status in tqdm(Cursor(auth_api.user_timeline, screen_name='midasIIITD', tweet_mode="extended", include_entites = True).items()):
    status_list.append(status)
print("No of statuses ", str(len(status_list)))

296it [00:20, 14.16it/s]

No of statuses  296

### Checking the contents of the ._json to see the contents that it contains

In [38]:
status._json

{'created_at': 'Mon Jul 23 12:53:15 +0000 2018',
 'id': 1021377705084739584,
 'id_str': '1021377705084739584',
 'full_text': 'MIDAS is a group of researchers at IIIT-Delhi who study, analyze, and build different multimedia systems for society leveraging multimodal information. MIDAS stands for Multimodal Digital Media Analysis Lab and it is founded by Dr. Rajiv Ratn Shah. \nURL: https://t.co/sPvbKgXKmg',
 'truncated': False,
 'display_text_range': [0, 278],
 'entities': {'hashtags': [],
  'symbols': [],
  'user_mentions': [],
  'urls': [{'url': 'https://t.co/sPvbKgXKmg',
    'expanded_url': 'http://midas.iiitd.edu.in/',
    'display_url': 'midas.iiitd.edu.in',
    'indices': [255, 278]}]},
 'source': '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 1021355762575073281,
  'id_str': '1021355762575073281',
  'name': 'MIDAS IIITD',
  'screen_name': 'midasIIITD',
  'location': 'New Delhi, India',
  'description': 'MIDAS is a group of researchers at IIIT-Delhi who study, analyze, and build different multimedia systems for society leveraging multimodal information.',
  'url': 'https://t.co/Uwg7oSM6mE',
  'entities': {'url': {'urls': [{'url': 'https://t.co/Uwg7oSM6mE',
      'expanded_url': 'http://midas.iiitd.edu.in/',
      'display_url': 'midas.iiitd.edu.in',
      'indices': [0, 23]}]},
   'description': {'urls': []}},
  'protected': False,
  'followers_count': 175,
  'friends_count': 39,
  'listed_count': 0,
  'created_at': 'Mon Jul 23 11:26:04 +0000 2018',
  'favourites_count': 118,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': False,
  'verified': False,
  'statuses_count': 296,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': 'F5F8FA',
  'profile_background_image_url': None,
  'profile_background_image_url_https': None,
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1021356444921212928/WmSTJCUs_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1021356444921212928/WmSTJCUs_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1021355762575073281/1552394509',
  'profile_link_color': '1DA1F2',
  'profile_sidebar_border_color': 'C0DEED',
  'profile_sidebar_fill_color': 'DDEEF6',
  'profile_text_color': '333333',
  'profile_use_background_image': True,
  'has_extended_profile': False,
  'default_profile': True,
  'default_profile_image': False,
  'following': False,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'none'},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'retweet_count': 4,
 'favorite_count': 7,
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'lang': 'en'}

### Creating a list containg only the ._json part of the of thes statuses.

In [39]:
status_json_lst =[]
for status in status_list:
    status_json_lst.append(status._json)

### Dumping all the contents into a .jsonl (JSON Lines) file

In [40]:
import json

with open('midas_tweets.jsonl', 'w') as outfile:
    for entry in status_json_lst:
        json.dump(entry, outfile)
        outfile.write('\n')

### Loading the contents of the .jsonl file into a new list.

In [41]:
tweets = []
for line in open('midas_tweets.jsonl', 'r'):
    tweets.append(json.loads(line))

### Wanted to check where I would find the count of images and this is the code bit which did it...
#### I didn't include the the images in retweeted posts but it could be done to by going into the info about the retweeted post

In [54]:
for tweet in tweets[:20]:
    cnt = 0
    if 'media' in tweet['entities']:
        for image in tweet['entities']['media']:
            cnt+=1
    print(cnt, "\n")

0

0

0

0

0

0

0

0

0

1

0

0

1

0

0

0

0

0

0

0

### Created a list of dictionaries to only store the useful info as asked in the task

In [57]:
tweet_dict_lst = []
for tweet in tweets:
    img_cnt = 0
    if 'media' in tweet['entities']:
        for image in tweet['entities']['media']:
            img_cnt+=1
    if img_cnt == 0:
        img_cnt = "None"
    dict_tmp = {'Full Text': tweet['full_text'], 'Date and Time':tweet['created_at'],
                'Number of favorites/likes': tweet['favorite_count'], 
                'Number of retweets': tweet['retweet_count'], 'Number of Images': img_cnt }
    tweet_dict_lst.append(dict_tmp)

### Created a dataframe from the list of dictionaries to present it in a tabular form with the columns in the same order.

In [58]:
tweet_df = pd.DataFrame(tweet_dict_lst)
tweet_df[['Full Text', 'Date and Time','Number of favorites/likes', 'Number of retweets', 'Number of Images' ]]

,Full Text,Date and Time,Number of favorites/likes,Number of retweets,Number of Images
0,@IEEEBigMM19 is also available on Facebook now...,Wed Mar 20 08:19:24 +0000 2019,1,1,None
1,RT @IEEEBigMM19: BigMM 2019 : IEEE BigMM 2019 ...,Wed Mar 20 02:40:07 +0000 2019,0,3,None
2,BigMM 2019 : IEEE BigMM 2019 – Call for Worksh...,Mon Mar 18 02:27:47 +0000 2019,6,3,None
3,"Congratulations @midasIIITD team, Rohan, Prady...",Sun Mar 17 14:22:04 +0000 2019,15,4,None
4,We have emailed the task details to all shortl...,Sat Mar 16 14:06:56 +0000 2019,6,0,None
5,IEEE BigMM 2019 - Call for Workshop Proposals....,Sat Mar 16 09:20:29 +0000 2019,1,1,None
6,"Congratulations! Arijit, Ramit, @debanjanbhucs...",Sat Mar 16 09:14:58 +0000 2019,7,2,None
7,We will be releasing a very interesting task t...,Sat Mar 16 05:13:14 +0000 2019,7,2,None
8,RT @hcdiiitd: Last day to register for #Portfo...,Wed Mar 13 17:09:44 +0000 2019,0,2,None
9,@ACMMM19 @sigmm @TheOfficialACM @acmmmsys @ACM...,Wed Mar 13 04:11:24 +0000 2019,1,0,1
10,RT @ACMMM19: The paper deadline is approaching...,Wed Mar 13 04:06:04 +0000 2019,0,13,None
11,RT @kaggle: Bookmark this amazing library of i...,Tue Mar 12 17:43:44 +0000 2019,0,69,None
12,Awesome members of our @midasIIITD team who ar...,Tue Mar 12 14:37:55 +0000 2019,16,4,1
13,"@saanidhi @ACMMM19 Before Friday, 15th March.",Mon Mar 11 14:58:30 +0000 2019,0,0,None
14,We are glad to inform that Adobe is launching ...,Mon Mar 11 12:02:42 +0000 2019,4,0,None
15,We will email tasks to all shortlisted candida...,Mon Mar 11 11:54:38 +0000 2019,3,0,None
16,@ACMMM19 @ACM_MM2018 @acmmm17 @sigmm @ACM Less...,Mon Mar 11 06:22:12 +0000 2019,1,1,None
17,RT @kdnuggets: Face Recognition using One-Shot...,Mon Mar 11 06:17:20 +0000 2019,0,64,None
18,@AvinashSwamina2 @IIITDelhi No. They will be g...,Fri Mar 08 13:22:07 +0000 2019,1,0,None
19,We are in the process of finalizing the shortl...,Fri Mar 08 13:15:34 +0000 2019,8,4,None
20,@ylecun @NilayShri @the_dhumketu @debanjanbhuc...,Wed Mar 06 13:44:11 +0000 2019,3,0,None
21,RT @kdnuggets: Python Data Science for Beginne...,Wed Mar 06 11:12:30 +0000 2019,0,22,1
22,RT @stanfordnlp: Useful feature of our Python ...,Sun Mar 03 19:36:04 +0000 2019,0,35,None
23,"@NilayShri @NilayShri, Certain thing! The next...",Sun Mar 03 17:09:48 +0000 2019,1,0,None
24,"At @midasIIITD, we not only work hard but also...",Sun Mar 03 15:37:28 +0000 2019,9,1,1
25,Considering several requests to extend the dea...,Sun Mar 03 14:55:31 +0000 2019,6,2,None
26,RT @jeremyphoward: 39 studies about human perc...,Sun Mar 03 14:26:40 +0000 2019,0,314,None
27,Correction: @midasIIITD at @IIITDelhi,Sat Mar 02 17:43:05 +0000 2019,1,0,None
28,Thanks much to all aspirants who have applied ...,Sat Mar 02 09:59:03 +0000 2019,7,1,None
29,RT @kdnuggets: Keras Hyperparameter Tuning in ...,Thu Feb 28 14:21:21 +0000 2019,0,4,1
...,...,...,...,...,...
266,RT @TensorFlow: TensorFlow 1.10.0 has been rel...,Thu Aug 09 05:59:57 +0000 2018,0,265,None
267,@midasIIITD is looking for motivated IIITD MTe...,Wed Aug 08 11:30:56 +0000 2018,2,1,None
268,@IIITDelhi @ponguru @RatnRajiv The results of ...,Wed Aug 08 05:53:48 +0000 2018,3,1,1
269,RT @IIITDelhi: @midasIIITD has secured rank 1 ...,Wed Aug 08 05:45:58 +0000 2018,0,1,None
270,RT @kdnuggets: Comparison of Top 6 Python NLP ...,Tue Aug 07 07:16:33 +0000 2018,0,40,1
271,Check more details of the 20th IEEE Internatio...,Tue Aug 07 02:05:12 +0000 2018,1,1,None
272,MR2AMC@ISM 2018 will be organized by @RatnRaji...,Tue Aug 07 01:58:49 +0000 2018,1,1,None
273,"Our workshop proposal named, ""MR2AMC: Multimod...",Tue Aug 07 01:50:33 +0000 2018,1,1,None
274,@NUSComputing Congratulations Abdelhak and Pro...,Mon Aug 06 17:48:23 +0000 2018,0,0,None
275,RT @goodfellow_ian: One of the most anticipate...,Mon Aug 06 17:46:59 +0000 2018,0,103,1
276,@the_dhumketu Great to have you in @midasIIITD,Mon Aug 06 06:06:47 +0000 2018,0,0,None
277,Congratulation @soujanyaporia for being appoin...,Fri Aug 03 05:56:33 +0000 2018,6,1,None
278,@IIITDelhi @the_dhumketu Thanks team @midasIII...,Wed Aug 01 11:47:15 +0000 2018,5,1,1
279,RT @IIITDelhi: Congratulations @midasIIITD int...,Wed Aug 01 11:20:07 +0000 2018,0,4,None
280,RT @learning_pt: Profile of the 5 Indian under...,Wed Aug 01 05:06:47 +0000 2018,0,4,None
281,Have a look at the list of accepted papers in ...,Tue Jul 31 12:11:52 +0000 2018,1,0,None
282,RT @goodfellow_ian: https://t.co/hYiWI7ntyk Te...,Tue Jul 31 02:06:26 +0000 2018,0,264,None
283,RT @IIITDelhi: Congratulations Dr. @RatnRajiv ...,Mon Jul 30 07:30:51 +0000 2018,0,2,None
284,"RT @ylecun: Jitendra Malik, who directs FAIR-M...",Sat Jul 28 11:07:11 +0000 2018,0,57,None
285,RT @kdnuggets: .@Bloomberg launches free cours...,Sat Jul 28 06:14:09 +0000 2018,0,105,None
286,RT @TechAtBloomberg: Missed #PyLondinium18? Wa...,Sat Jul 28 06:13:48 +0000 2018,0,7,None
287,RT @IIITDelhi: We are delighted to announce th...,Sat Jul 28 04:08:21 +0000 2018,0,6,None
288,Get ready for the annual technical fest of @II...,Fri Jul 27 06:46:44 +0000 2018,3,2,None
289,Congratulations Dr. @RatnRajiv and team @midas...,Fri Jul 27 04:07:31 +0000 2018,8,2,None
290,Congratulations MIDAS @midasIIITD intern Prakh...,Wed Jul 25 05:14:35 +0000 2018,5,1,None
291,MIDAS@IIITD foundation. https://t.co/LKuzyBHzjm,Tue Jul 24 10:33:23 +0000 2018,2,1,None
292,It feels great to be the part of @IIITDelhi. h...,Tue Jul 24 10:12:34 +0000 2018,2,1,None
293,"Thank you, @toonzratn for designing the logo o...",Tue Jul 24 09:46:26 +0000 2018,4,1,1
294,We are on Facebook too. Like our page to get o...,Mon Jul 23 16:25:05 +0000 2018,3,1,None
295,MIDAS is a group of researchers at IIIT-Delhi ...,Mon Jul 23 12:53:15 +0000 2018,7,4,None