In [9]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from tweepy import OAuthHandler
from tweepy import API
from tweepy import Cursor
from datetime import datetime, date, time, timedelta
from collections import Counter

In [12]:
consumer_key='JcKYdqtvb4jQvHuvZueqBGlOU'
consumer_secret='1NcufylSpc2sb83oQWv9qhRGWvYqTFs5ylSoKdPkiJqu07l5ch'
access_token='792341533638946817-shNZlMR3hjQiho72cZwdCb120bwleIR'
access_token_secret='DbKTIhxkymH43wiGV5WmabvPEOWwt9spraQlQnHKUg8j8'

In [13]:
auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
auth_api = API(auth)

In [14]:
item = auth_api.get_user('midasIIITD')

In [15]:
print("name: " + item.name)
print("screen_name: " + item.screen_name)
print("description: " + item.description)
print("statuses_count: " + str(item.statuses_count))
print("friends_count: " + str(item.friends_count))
print("followers_count: " + str(item.followers_count))

name: MIDAS IIITD
screen_name: midasIIITD
description: MIDAS is a group of researchers at IIIT-Delhi who study, analyze, and build different multimedia systems for society leveraging multimodal information.
statuses_count: 292
friends_count: 38
followers_count: 163

In [16]:
no_of_tweets = item.statuses_count

In [17]:
tweets = auth_api.user_timeline(screen_name = 'midasIIITD')

In [31]:
status_list = []
for status in tqdm(Cursor(auth_api.user_timeline, screen_name='midasIIITD', tweet_mode="extended").items()):
    status_list.append(status)
print("No of statuses ", str(len(status_list)))

292it [00:16, 17.60it/s]

No of statuses  292

In [40]:
status._json

{'created_at': 'Mon Jul 23 12:53:15 +0000 2018',
 'id': 1021377705084739584,
 'id_str': '1021377705084739584',
 'full_text': 'MIDAS is a group of researchers at IIIT-Delhi who study, analyze, and build different multimedia systems for society leveraging multimodal information. MIDAS stands for Multimodal Digital Media Analysis Lab and it is founded by Dr. Rajiv Ratn Shah. \nURL: https://t.co/sPvbKgXKmg',
 'truncated': False,
 'display_text_range': [0, 278],
 'entities': {'hashtags': [],
  'symbols': [],
  'user_mentions': [],
  'urls': [{'url': 'https://t.co/sPvbKgXKmg',
    'expanded_url': 'http://midas.iiitd.edu.in/',
    'display_url': 'midas.iiitd.edu.in',
    'indices': [255, 278]}]},
 'source': '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 1021355762575073281,
  'id_str': '1021355762575073281',
  'name': 'MIDAS IIITD',
  'screen_name': 'midasIIITD',
  'location': 'New Delhi, India',
  'description': 'MIDAS is a group of researchers at IIIT-Delhi who study, analyze, and build different multimedia systems for society leveraging multimodal information.',
  'url': 'https://t.co/Uwg7oSM6mE',
  'entities': {'url': {'urls': [{'url': 'https://t.co/Uwg7oSM6mE',
      'expanded_url': 'http://midas.iiitd.edu.in/',
      'display_url': 'midas.iiitd.edu.in',
      'indices': [0, 23]}]},
   'description': {'urls': []}},
  'protected': False,
  'followers_count': 163,
  'friends_count': 38,
  'listed_count': 0,
  'created_at': 'Mon Jul 23 11:26:04 +0000 2018',
  'favourites_count': 116,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': False,
  'verified': False,
  'statuses_count': 292,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': 'F5F8FA',
  'profile_background_image_url': None,
  'profile_background_image_url_https': None,
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1021356444921212928/WmSTJCUs_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1021356444921212928/WmSTJCUs_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1021355762575073281/1552394509',
  'profile_link_color': '1DA1F2',
  'profile_sidebar_border_color': 'C0DEED',
  'profile_sidebar_fill_color': 'DDEEF6',
  'profile_text_color': '333333',
  'profile_use_background_image': True,
  'has_extended_profile': False,
  'default_profile': True,
  'default_profile_image': False,
  'following': False,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'none'},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'retweet_count': 4,
 'favorite_count': 7,
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'lang': 'en'}

In [35]:
status_json_lst =[]
for status in status_list:
    status_json_lst.append(status._json)

In [45]:
import json

with open('midas_tweets.jsonl', 'w') as outfile:
    for entry in status_json_lst:
        json.dump(entry, outfile)
        outfile.write('\n')

In [47]:
tweets = []
for line in open('midas_tweets.jsonl', 'r'):
    tweets.append(json.loads(line))

In [50]:
tweet_dict_lst = []
for tweet in tweets:
    dict_tmp = {'Full Text': tweet['full_text'], 'Date and Time':tweet['created_at'],
                'Number of favorites/likes': tweet['favorite_count'], 
                'Number of retweets': tweet['retweet_count'] }
    tweet_dict_lst.append(dict_tmp)

In [51]:
tweet_df = pd.DataFrame(tweet_dict_lst)
tweet_df

,Date and Time,Full Text,Number of favorites/likes,Number of retweets
0,Sat Mar 16 14:06:56 +0000 2019,We have emailed the task details to all shortl...,6,0
1,Sat Mar 16 09:20:29 +0000 2019,IEEE BigMM 2019 - Call for Workshop Proposals....,1,1
2,Sat Mar 16 09:14:58 +0000 2019,"Congratulations! Arijit, Ramit, @debanjanbhucs...",5,2
3,Sat Mar 16 05:13:14 +0000 2019,We will be releasing a very interesting task t...,6,2
4,Wed Mar 13 17:09:44 +0000 2019,RT @hcdiiitd: Last day to register for #Portfo...,0,2
5,Wed Mar 13 04:11:24 +0000 2019,@ACMMM19 @sigmm @TheOfficialACM @acmmmsys @ACM...,1,0
6,Wed Mar 13 04:06:04 +0000 2019,RT @ACMMM19: The paper deadline is approaching...,0,13
7,Tue Mar 12 17:43:44 +0000 2019,RT @kaggle: Bookmark this amazing library of i...,0,69
8,Tue Mar 12 14:37:55 +0000 2019,Awesome members of our @midasIIITD team who ar...,16,4
9,Mon Mar 11 14:58:30 +0000 2019,"@saanidhi @ACMMM19 Before Friday, 15th March.",0,0
10,Mon Mar 11 12:02:42 +0000 2019,We are glad to inform that Adobe is launching ...,4,0
11,Mon Mar 11 11:54:38 +0000 2019,We will email tasks to all shortlisted candida...,3,0
12,Mon Mar 11 06:22:12 +0000 2019,@ACMMM19 @ACM_MM2018 @acmmm17 @sigmm @ACM Less...,1,1
13,Mon Mar 11 06:17:20 +0000 2019,RT @kdnuggets: Face Recognition using One-Shot...,0,63
14,Fri Mar 08 13:22:07 +0000 2019,@AvinashSwamina2 @IIITDelhi No. They will be g...,1,0
15,Fri Mar 08 13:15:34 +0000 2019,We are in the process of finalizing the shortl...,8,4
16,Wed Mar 06 13:44:11 +0000 2019,@ylecun @NilayShri @the_dhumketu @debanjanbhuc...,3,0
17,Wed Mar 06 11:12:30 +0000 2019,RT @kdnuggets: Python Data Science for Beginne...,0,22
18,Sun Mar 03 19:36:04 +0000 2019,RT @stanfordnlp: Useful feature of our Python ...,0,35
19,Sun Mar 03 17:09:48 +0000 2019,"@NilayShri @NilayShri, Certain thing! The next...",1,0
20,Sun Mar 03 15:37:28 +0000 2019,"At @midasIIITD, we not only work hard but also...",9,1
21,Sun Mar 03 14:55:31 +0000 2019,Considering several requests to extend the dea...,6,2
22,Sun Mar 03 14:26:40 +0000 2019,RT @jeremyphoward: 39 studies about human perc...,0,315
23,Sat Mar 02 17:43:05 +0000 2019,Correction: @midasIIITD at @IIITDelhi,1,0
24,Sat Mar 02 09:59:03 +0000 2019,Thanks much to all aspirants who have applied ...,7,1
25,Thu Feb 28 14:21:21 +0000 2019,RT @kdnuggets: Keras Hyperparameter Tuning in ...,0,4
26,Tue Feb 26 18:30:52 +0000 2019,RT @RatnRajiv: Great meeting with @midasIIITD ...,0,1
27,Tue Feb 26 03:40:22 +0000 2019,Correction: They have published the following ...,0,0
28,Mon Feb 25 16:10:46 +0000 2019,We will process all applications received by M...,2,1
29,Sun Feb 24 03:39:40 +0000 2019,"RT @ecsquendor: Jit Ghosh discusses the ""GloVe...",0,8
...,...,...,...,...
262,Thu Aug 09 05:59:57 +0000 2018,RT @TensorFlow: TensorFlow 1.10.0 has been rel...,0,265
263,Wed Aug 08 11:30:56 +0000 2018,@midasIIITD is looking for motivated IIITD MTe...,2,1
264,Wed Aug 08 05:53:48 +0000 2018,@IIITDelhi @ponguru @RatnRajiv The results of ...,3,1
265,Wed Aug 08 05:45:58 +0000 2018,RT @IIITDelhi: @midasIIITD has secured rank 1 ...,0,1
266,Tue Aug 07 07:16:33 +0000 2018,RT @kdnuggets: Comparison of Top 6 Python NLP ...,0,40
267,Tue Aug 07 02:05:12 +0000 2018,Check more details of the 20th IEEE Internatio...,1,1
268,Tue Aug 07 01:58:49 +0000 2018,MR2AMC@ISM 2018 will be organized by @RatnRaji...,1,1
269,Tue Aug 07 01:50:33 +0000 2018,"Our workshop proposal named, ""MR2AMC: Multimod...",1,1
270,Mon Aug 06 17:48:23 +0000 2018,@NUSComputing Congratulations Abdelhak and Pro...,0,0
271,Mon Aug 06 17:46:59 +0000 2018,RT @goodfellow_ian: One of the most anticipate...,0,103
272,Mon Aug 06 06:06:47 +0000 2018,@the_dhumketu Great to have you in @midasIIITD,0,0
273,Fri Aug 03 05:56:33 +0000 2018,Congratulation @soujanyaporia for being appoin...,6,1
274,Wed Aug 01 11:47:15 +0000 2018,@IIITDelhi @the_dhumketu Thanks team @midasIII...,5,1
275,Wed Aug 01 11:20:07 +0000 2018,RT @IIITDelhi: Congratulations @midasIIITD int...,0,4
276,Wed Aug 01 05:06:47 +0000 2018,RT @learning_pt: Profile of the 5 Indian under...,0,4
277,Tue Jul 31 12:11:52 +0000 2018,Have a look at the list of accepted papers in ...,1,0
278,Tue Jul 31 02:06:26 +0000 2018,RT @goodfellow_ian: https://t.co/hYiWI7ntyk Te...,0,264
279,Mon Jul 30 07:30:51 +0000 2018,RT @IIITDelhi: Congratulations Dr. @RatnRajiv ...,0,2
280,Sat Jul 28 11:07:11 +0000 2018,"RT @ylecun: Jitendra Malik, who directs FAIR-M...",0,57
281,Sat Jul 28 06:14:09 +0000 2018,RT @kdnuggets: .@Bloomberg launches free cours...,0,105
282,Sat Jul 28 06:13:48 +0000 2018,RT @TechAtBloomberg: Missed #PyLondinium18? Wa...,0,7
283,Sat Jul 28 04:08:21 +0000 2018,RT @IIITDelhi: We are delighted to announce th...,0,6
284,Fri Jul 27 06:46:44 +0000 2018,Get ready for the annual technical fest of @II...,3,2
285,Fri Jul 27 04:07:31 +0000 2018,Congratulations Dr. @RatnRajiv and team @midas...,8,2
286,Wed Jul 25 05:14:35 +0000 2018,Congratulations MIDAS @midasIIITD intern Prakh...,5,1
287,Tue Jul 24 10:33:23 +0000 2018,MIDAS@IIITD foundation. https://t.co/LKuzyBHzjm,2,1
288,Tue Jul 24 10:12:34 +0000 2018,It feels great to be the part of @IIITDelhi. h...,2,1
289,Tue Jul 24 09:46:26 +0000 2018,"Thank you, @toonzratn for designing the logo o...",4,1
290,Mon Jul 23 16:25:05 +0000 2018,We are on Facebook too. Like our page to get o...,3,1
291,Mon Jul 23 12:53:15 +0000 2018,MIDAS is a group of researchers at IIIT-Delhi ...,7,4